package pages

import "github.com/VedantPatil1/simple-todo-api-app.git/internal/templates/layouts"

templ HomePage() {
    @layouts.BaseLayout("Home") {
    <div class="header"><h1>hello</h1></div> 
    }
}
